<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
<% provide(:title, "About") %>
<h1>About</h1>
<p>This sample web app implements basic website features such as user registration,
authentication, email verification, and password reset functionality. It also provides
for admin privileges, allowing the admin to see a paginated list of users and the ability
to delete user accounts from the site.</p>

<p>Additional features are in development.</p>

<p>This site was created using Ruby on Rails 4.2, Minitest for TDD, and Bootstrap for
Responsive layouts.</p>

<p>The sourcecode for this project can be found at 
<a href="https://bitbucket.org/cdpatton/sample_app">Bitbucket</a>.</p>
    </div>
</div>