<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You can find Charles Patton on <a href="www.linkedin.com/in/charles-patton-23a70a126">LinkedIn</a>, 
  <a href="https://bitbucket.org/cdpatton/">Bitbucket</a>, 
  and <a href="https://github.com/winterdharma/">Github</a>.
</p>
  </div>
</div>