<div class="center jumbotron">
  <% if logged_in? %>
    <h2>Welcome back, <%= @user.name %>!</h2>
    
  
  <% else %>
    <h1>Welcome to the Task List <br/>Sample App</h1>
  
    <h2>
      Get organized today.
    </h2>
  
    <h3><%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
    or
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %></h3><h3>now!</h3>
  <% end %>
</div>

<%= link_to image_tag("rails-logo.svg", alt: "Rails logo", width: "220", height: "78"), 'http://rubyonrails.org/' %>
