<footer class="footer">
  <small>
    A Ruby on Rails Sample App<br/>by Charles Patton</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>