    
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  
  <div class="container nav-contain">
    <div class="navbar-header">
      <button class="navbar-toggler pull-right visible-xs" type="button" data-toggle="collapse" 
        data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <%= link_to "sample app", root_path, id: "logo", class: "navbar-brand" %>
    </div>
    
    <div class="collapse navbar-collapse navbar-right">
      
      <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to "Home", root_path %></li>
        
      
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class="nav-item"><%= link_to "Users", users_path %></li>
          <% end %>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-item active" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item active"><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
